<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <mat-grid-list cols="4" rowHeight="100px">
      <!-- Mensaje de felicitaciones o días restantes para cumpleaños -->
      <mat-grid-tile
        [colspan]="4"
        [rowspan]="1"
        *ngIf="response"
        >
        <h1 *ngIf="response.poem"><mat-icon aria-hidden="false">cake</mat-icon> Felices {{response.age}} años {{person.name}}!</h1>
        <h1 *ngIf="!response.poem">Faltan <b>{{response.remainingDays}}</b> días para tu cumpleaños</h1>
      </mat-grid-tile>

      <!-- Datos -->
      <mat-grid-tile
            [colspan]="4"
            [rowspan]="4">
        <mat-card>
          <mat-card-content>
            <mat-card-title class="card-title"> Hola! </mat-card-title>
            <form>
              <h2>¿Cómo te llamas?</h2>
              <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Rodrigo" name="lastname" [(ngModel)]="person.name" required>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Apellido</mat-label>
                <input matInput placeholder="Rodriguez" name="lastname" [(ngModel)]="person.lastname">
              </mat-form-field>

              <h2> ¿Cuál es tu fecha de nacimiento? </h2>
              <mat-form-field>
                <input matInput [matDatepicker]="datePicker" name="birth" [(ngModel)]="person.birth" required>
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
              </mat-form-field>
            </form>

            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="send()">ENVIAR</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>


        <!-- Poema -->
        <div *ngIf="response && response.poem">
            <mat-grid-tile
            [colspan]="4"
            [rowspan]="1">
              <h2> Aquí va un poema para ti...</h2>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1"></mat-grid-tile>
            <mat-grid-tile
              [colspan]="2"
              [rowspan]="citationRows"
              >
              <p class="citation">
                {{response.poem.content}}
                -
              <cite>{{response.poem.poet.name}}</cite>
            </p>
          </mat-grid-tile>
        </div>
    </mat-grid-list>
  </body>
</html>
