@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.card-title{
  text-align: center;
}

.citation{
  background-color: #7b7b7b6b;
  font-family: monospace;
  padding: 10px;
  text-align: center;
  font-size: x-large;
  position: absolute;
  left: 5px;
  align-self: flex-start;
}
